.container {
    perspective: 500px;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 25px auto;
}

.cube {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: animate 7s linear infinite;
}

.cube span {
    backface-visibility: hidden;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #ffffff;
    background-color: #c62329;
    color: #ffffff;
    line-height: 150px;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}

.cube .front {transform: rotateY(0deg) translateZ(75px);}
.cube .back {transform: rotateX(180deg) translateZ(75px);}
.cube .top {transform: rotateX(90deg) translateZ(75px);}
.cube .bottom {transform: rotateX(-90deg) translateZ(75px);}
.cube .left {transform: rotateY(-90deg) translateZ(75px);}
.cube .right {transform: rotateY(90deg) translateZ(75px);}

@keyframes animate {
    0% {transform: translateZ(-150px) rotateY(360deg) rotateZ(0deg) rotateX(45deg)}
    50% {transform: translateZ(-150px) rotateY(180deg) rotateZ(180deg) rotateX(45deg)}
    100% {transform: translateZ(-150px) rotateY(0deg) rotateZ(360deg) rotateX(45deg)}
}